.flex-row {
  display: flex;
  justify-content: center; }
  .flex-row img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 0; }
  .flex-row.flex-space {
    justify-content: space-around; }

.image-icons {
  font-size: 22px; }
  .image-icons > div {
    min-width: 220px;
    align-items: center;
    display: flex;
    flex-direction: column; }
  .image-icons.image-icons-big {
    margin-top: 60px; }
    .image-icons.image-icons-big img {
      width: 180px; }
  .image-icons p {
    font-size: 1.2rem; }

.reveal h1.lowercase, .reveal h2.lowercase, .reveal h3.lowercase, .reveal h4.lowercase {
  text-transform: none; }

.reveal pre code {
  padding: 10px;
  font-size: 18px; }

.reveal .slides section .fragment.highlight-white {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-white.visible,
.reveal .slides section .highlight-white-permanent {
  color: #f2efe6;
  font-weight: bold; }
  .reveal .slides section .fragment.highlight-white.visible.upper,
  .reveal .slides section .highlight-white-permanent.upper {
    text-transform: uppercase;
    font-weight: normal; }
