/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}
// Solarized colors
$base3:    #002b36;
$base2:    lighten(#073642, 7%);
$base1:    #586e75;
$base0:    #657b83;
$base00:     #839496;
$base01:     #93a1a1;
$base02:     lighten(#93a1a1, 30%);
$base03:     lighten(#93a1a1, 37%);
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------



.flex-row {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      border-radius: 50%;
      padding: 10px;
      margin-bottom: 0;
    }
    &.flex-space {
      justify-content: space-around;
    }
  }
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &.flex-half {
    > * {
      width: 40%;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
.image-icons {
  font-size: 22px;
  > div {
    min-width: 220px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &.image-icons-big {
    margin-top: 60px;
    img {
      width: 180px;
    }
  }
  p {
    font-size: 1.2rem;
  }
}

.reveal {
  h1,h2,h3,h4 {
    &.lowercase {
      text-transform: none;
    }
  }
  pre code {
    padding: 10px;
    font-size: 18px;
  }
  .slides section .fragment.highlight-white {
  	opacity: 1;
  	visibility: inherit;
  }
 .slides section .fragment.highlight-white.visible,
 .slides section .highlight-white-permanent {
	  color: $base3;
    font-weight: bold;
    &.upper {
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}
